<footer><p class="center">© 2026, Lord J. Hackwell, Version <a href="https://github.com/nitondev/lordhck.com/commit/{{ commit_full }}">{{ commit_short }}</a></p><p></p><p></p></footer>
<script src="/static/site.js"></script>
