{% extends "base.j2" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<meta name="description" content="{{ title }}">
<link rel="canonical" href="https://lordhck.com{{ url }}">
{% endblock %}
{% block content %}
<article>
<br>
  {% if date %}<p><em>{{ date }}</em></p>{% endif %}
  {{ content | safe }}
</article>
{% endblock %}
